body {
    padding: 0.2rem;
}

.textDiv {
    margin: 0.4rem;
    animation: slide-up 0.3s ease;
}

h1 {
    margin-bottom: 2rem;
}

.textInput {
    margin-right: 0.5rem;
    transition: background-color 0.3s ease-in;
}

#addBtn {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

#addBtn, #changeColorBtn {
    margin-top: 1rem;
}

.showBtn {
    margin-right: 0.4rem;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}