* {
    font-family: 'Roboto';
}

body {
    background-color: white;
    margin: 0;
    margin-left: 175px;
}

.header {
    position: sticky;
    top: 0px;
    width: 100%;
}

section {
    padding-left: 1rem;
}

.title {
    font-family: 'Times New Roman'
}

.navbar {
    background-color: darkslategray;
    width: 100%;
    z-index: 2;
    height: 100%;
}

.navbar a {
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    padding: 14px;
    /* margin-top: 10px; */
    text-decoration: none;
    transition: color 0.5s ease-in;
}

.navbar a:hover {
    color: cyan;
}

.navbar img {
    color: white;
    margin-left: 8px;
    vertical-align: middle;
}

.navbar a img {
    filter: invert(100%);
}

.sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: rgb(39, 51, 51);
    padding-top: 60px;
    transition: all 300ms ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
    transition: color 300ms ease;
}

.sidenav a:hover {
    color: aqua;
}

@media screen and (max-width: 449px) {
    .sidenav {
        padding-top: 15px;
        width: 0px;
    }
    body {
        margin-left: 0px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .closebtn {
        display: none;
    }
    .openbtn {
        margin-left: 0;
    }
    input[type=text]:active, input[type=password]:active, input[type=email]:active, textarea, input[type=date]:active, input[type=tel]:active, input[type=url]:active {
        width: 75%;
        padding: 12px;
        /* margin: 5px 0 22px 0; */
    }
}

@media screen and (min-width: 751px) {
    .sidenav {
        padding-top: 15px;
        width: 175px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .closebtn {
        visibility: hidden;
    }
    .openbtn {
        display: none !important;
    }
    input[type=text], input[type=password], input[type=email], textarea, input[type=date], input[type=tel], input[type=url] {
        width: 30%;
        padding: 8px;
        margin: 5px 0 22px 0;
    }
}

@media screen and (max-width: 750px) {
    input[type=text], input[type=password], input[type=email], textarea, input[type=date], input[type=tel], input[type=url] {
        width: 50%;
        padding: 8px;
        margin: 5px 0 22px 0;
    }
}

label {
    color: darkslategray;
}

label, input, section, option {
    margin-top: 8px;
    margin-bottom: 8px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 52px;
    color: gray;
}

input[type=text], input[type=password], input[type=email], textarea, input[type=date], input[type=tel], input[type=url] {
    display: inline-block;
    border: none;
    /* background: #f1f1f1; */
    background: transparent;
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus, input[type=date]:focus, input[type=tel]:focus, input[type=url]:focus {
    border-bottom: 1px solid rgba(0,0,0,1);
}

.submit-btn {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
}

h3.pf {
    margin: 16px;
    text-align: center;
    text-decoration: underline;
}

#tech-lbl{
    margin-left: 1rem;
}