<script>

    var a = 33;
    var b = 12;
    // console.log(a,b);

    // a = b+a;
    // b =a-b;
    // a= a-b

    // console.log(a,b);

    //console.log(-(-a -b));

    // for (let index = 0; index < 5; index++) {
    //     multiPrint(5 - index, "&nbsp")
    //     multiPrint(index, "*")
    //     document.write('<br>');
    // }

    function multiPrint(n, char) {
        for (let index = 0; index <= n; index++) {
            document.write(char)
        }
    }

    var number = 5;

    // function factorial(number) {
    //     var total = 1;
    //     for (let index = 1; index <= number; index++) {
    //         total = total * index
    //     }
    //     return total
    // }
    // console.log(factorial(number));


    // function factorial(number) {
    //     if (number === 1) {
    //         return 1
    //     }
    //     return number * factorial(number - 1)
    // }

    // console.log(factorial(5));

    for (let index = 0; index <= 5; index++) {
        multiPrint(4 - index, '&nbsp;&nbsp;');
        multiPrint(index, '*');
        document.write("<br>");
    }

    document.write("<br>---<br>")

    for (let index = 5; index >= 0; index--) {
        multiPrint(index, '*');
        document.write("<br>")
    }

    for (let index = 5; index >= 0; index--) {
        multiPrint(4 - index, '&nbsp;&nbsp;');
        multiPrint(index, '*');
        document.write("<br>")
    }

    function isPrime(num) {
        if (num % 2 === 0) {
            return false;
        }
        for (let index = 3; index < (num / 2); index += 2) {
            
            if (num % index === 0) {
                return false
            }
        }
        return true
    }

    console.log(isPrime(177));

</script>